@charset "UTF-8";
/*VARIABLES*/
/*variables*/
/*GLOBALES*/
/*normalize*/
*,
*::before
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

/* globals*/
html {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 62.5%;
  /*para porder calcular + facil los rem*/ }

.menu {
  list-style: none;
  gap: 30px; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  /*para q tome padding asignado, aunque en este caso no querramos que esten uno al lado del otro*/ }

/*helpers*/
.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*1fr=todo el espacio restante*/
  min-height: 100vh;
  /*para que no quede arriba el footer y el body ocupe todo el alto de la pag*/ }

/*PARTIALS*/
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    gap: 0;
    width: 403px;
    /*para q quede menu en pantalla*/ }
  body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*1fr=todo el espacio restante*/
    min-height: 104vh;
    /*para que no quede arriba el footer y el body ocupe todo el alto de la pag*/ } }

/*FOOTER*/
footer {
  background-color: #000000;
  padding: 3rem;
  color: #fff;
  height: 4vh;
  justify-content: flex-start; }
  footer div {
    justify-content: space-between;
    width: 30vh;
    align-items: center;
    font-size: 1.4em;
    font-style: none; }

#footer_contacto {
  height: 10vh; }

/*header & navbar */
header {
  /*menu hamburguesa*/ }
  header .navbar {
    min-height: 10vh;
    /*vh relativo al tamaño de la pantalla*/
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative; }
  header nav {
    height: 10vh; }
  header .menu {
    display: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block; }
  header .hamburguesa {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 8em; }

/*VIEWS*/
/*ARQUITECTURA*/
.titulo {
  font-size: 6em;
  text-align: center;
  margin: 1.5rem; }

.TextoTitulo {
  font-size: 10px;
  margin: 1.5rem;
  padding: 4rem;
  text-align: center; }

.div_imagenes {
  justify-content: space-between;
  margin-left: 4em;
  margin-right: 4em; }

.obrasArq {
  transition: box-shadow 0.4s ease;
  background: url(../imagenes/foto1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 2rem;
  padding: 0rem;
  overflow: auto;
  display: inline-block;
  overflow: hidden;
  border-radius: 0.3rem;
  cursor: pointer; }
  .obrasArq:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5); }

/*ARQ FOTOS*/
#arq1 {
  background: url(../imagenes/foto1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#arq2 {
  background: url(../imagenes/FotoArq1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#arq3 {
  background: url(../imagenes/FotoArq2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#arq4 {
  background: url(../imagenes/fotoArq3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.textoInterno {
  transition: opacity 0.4s ease;
  background-color: #000;
  color: #fff;
  opacity: 0;
  width: 300px;
  height: 100px;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  top: 65px;
  right: 30px; }
  .textoInterno:hover {
    opacity: .5; }

@media screen and (max-width: 768px) {
  .body_arqart {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*1fr=todo el espacio restante*/
    min-height: 140vh;
    /*para que no quede arriba el footer y el body ocupe todo el alto de la pag*/ }
  .section_arq {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

.obrasArte {
  transition: box-shadow 0.4s ease;
  background: url(../imagenes/FotoArq1);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  padding: 0rem;
  overflow: auto;
  overflow: hidden;
  border-radius: 0.3rem;
  cursor: pointer; }
  .obrasArte:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5); }

.ObrasArte
#art1 {
  background: url(../imagenes/FotoArte1.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#art2 {
  background: url(../imagenes/FotoArte2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#art3 {
  background: url(../imagenes/FotoArte3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

#art4 {
  background: url(../imagenes/FotoArte4.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*CONTACTO*/
#body_contacto {
  margin: 0em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*1fr=todo el espacio restante*/ }

#section_contacto {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 0;
  margin-right: 15em;
  margin-bottom: 0;
  margin-left: 15em; }

@media screen and (max-width: 768px) {
  #body_contacto {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*1fr=todo el espacio restante*/
    min-height: 110vh;
    max-width: 768px;
    overflow: hidden;
    /*para que no haya scroll*/ }
  #footer_contacto {
    height: 10vh;
    position: absolute;
    bottom: -30px;
    width: -webkit-fill-available; }
  #section_contacto {
    margin: 0 5rem;
    height: 100vh; } }

/*SOBRE MI*/
.container {
  max-width: 1080px;
  /*para q aunque la pantalla sea muy grande se mantenga*/
  margin: 0 5rem;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap; }

/*SOBRE MI_FOTO*/
#foto_quiensoy {
  flex-basis: 50%;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  /*flex-grow: 1;*/
  justify-content: center;
  position: relative;
  top: 100px;
  width: 100%; }

#foto_quiensoy__item {
  max-width: 400px;
  max-height: 400px;
  width: 100%; }

/*SOBRE MI_TEXTO*/
#texto_quienSoy {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  /*flex-grow: 1;*/
  justify-content: center;
  position: relative;
  top: 100px; }

@media screen and (max-width: 768px) {
  #foto_quiensoy {
    flex-grow: 1; }
  #texto_quienSoy {
    flex-grow: 1;
    padding-top: 0%;
    justify-content: flex-start; }
  #body_sobremi {
    overflow: hidden; } }

/*IMAGEN*/
section {
  justify-content: center; }

#logo_vertical {
  display: none; }

#logo_horizontal {
  position: relative;
  right: 2em;
  /*queda descentrado porq la imagen es asi, desp recortar*/ }

@media screen and (max-width: 768px) {
  section img {
    display: none; }
  #logo_vertical {
    display: block !important;
    width: 100%;
    object-fit: contain; }
  #logo_horizontal {
    display: none; }
  .container {
    flex-wrap: wrap;
    gap: 0;
    width: 403px;
    /*para q quede menu en pantalla*/ }
  body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*1fr=todo el espacio restante*/
    min-height: 104vh;
    /*para que no quede arriba el footer y el body ocupe todo el alto de la pag*/ } }
