/*FOOTER*/
footer {
   
    background-color: #000000;
    padding: 3rem;
    color: #fff;
    height: 4vh;
    justify-content: flex-start;
    div {
      justify-content: space-between;
      width: 30vh;
      align-items:center;
      font-size: 1.4em;
      font-style: none;
   }
   #footer_contacto {
      @extend footer;
      .icono_contacto {
         visibility:hidden; 
      }
   }
}
