/*IMAGEN*/
section {
  display: flex;
  justify-content: center;
}

#logo_vertical {
  display: none;
}

#logo_horizontal {
  width: 800px;
  height: 400px;
  object-fit: contain;
  position: relative;
  right: 2em;
}

@media screen and (max-width: 768px) {
  #logo_vertical {
    display: block !important;
    width: 100%;
    object-fit: contain;
  }
  #logo_horizontal {
    display: none;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 104vh;
    /*para que no quede arriba el footer y el body ocupe todo el alto de la pag*/
  }
}