/*variables*/

$principal: #000;
$secondary: #ffffff;
$font-primary: 'Roboto', sans-serif;
$text-lg: 30px;
$text-med: 20px;
$text-sma: 10px;


$spacings: (
    large:3rem,
    medium:2rem,
    small:1rem,
);
@each $var, $val in $spacings {
    .sp-#{$var} {
        margin: #{$var};    
    }
}